<header class="panel-cover" style="background-image: url(../images/cover.jpg)">
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">
        <a href="/" title="link to home of {{ site.title }}">
          <img src="../images/profile.jpg" class="user-image" alt="My Profile Photo">
          <h1 class="panel-cover__title panel-title">{{ site.title }}</h1>
        </a>
        <hr class="panel-cover__divider">
        <p class="panel-cover__description">{{ site.description }}</p>
        <hr class="panel-cover__divider panel-cover__divider--secondary">

        <nav class="cover-navigation">
          <ul class="navigation">
            <li class="navigation__item"><a href="../about" title="link to {{ site.title }} blog" class="blog-button">介&nbsp绍</a></li>
          </ul>
        </nav>

        <nav class="cover-navigation navigation--social">
          <ul class="navigation">
            <!-- GitHub -->
            <li class="navigation__item">
              <a href="https://www.github.com/sijing233" target="_blank">
                <i class="iconfont">&#xe64a;</i>
                <span class="label">GitHub</span>
              </a>
            </li>

            <!-- bilibili -->
            <li class="navigation__item">
              <a href="http://space.bilibili.com/181817188" target="_blank">
                <i class="iconfont">&#xe75d;</i>
                <span class="label">bilibili</span>
              </a>
            </li>

            <!-- Email -->
            <li class="navigation__item">
              <a href="mailto:{{ site.author.email }}" target="_blank">
                  <i class="iconfont">&#xe62d;</i>
                <span class="label">Email</span>
              </a>
            </li>

          </ul>
        </nav>

        <div>
            <nav class="cover-navigation">
               
                <ul class="navigation">
                  <li class="navigation__enter__item">采坑日志</li>    
                  <hr class="panel-cover__divider_content">
                </ul>
                 <!-- 有专门的介绍 -->
                <ul class="navigation">
                    <li class="navigation__enter__item"><a href="../learn_note" title="link to {{ site.title }} blog" class="blog-button"><b>学习笔记</b></a></li>    
                    <hr class="panel-cover__divider_content">
                </ul>
                <ul class="navigation">
                  <li class="navigation__enter__item">源码解读</li>    
                  <hr class="panel-cover__divider_content">
                </ul>
                <ul class="navigation">
                    <li class="navigation__enter__item">翻译文档</li>    
                    <hr class="panel-cover__divider_content">
                </ul>
                 <!-- 没有介绍 -->
                <ul class="navigation">
                    <li class="navigation__enter__item">资源栈</li>    
                    <hr class="panel-cover__divider_content">
                </ul>
                <!-- 没有介绍 -->
                <ul class="navigation">
                    <li class="navigation__enter__item"><a href="https://sijing233.gitbook.io/jottings/"><b>随笔整理</b></a></li>    
                    <hr class="panel-cover__divider_content">
                </ul>
            </nav>
            
        </div>
      </div>
    </div>

    <div class="panel-cover--overlay"></div>
  </div>
</header>


<!-- <div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
    owner: 'sijing233',
    repo: 'sijing233.github.io',
    oauth: {
        client_id: '99fe5034f5246a483316',
        client_secret: '7466ef41da45b0d84102b42d8acfc80de37e2166',
    },
});
gitment.render('gitmentContainer');
</script> -->